*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ourTeam-container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.team-card{
    padding-bottom: 30px;
}

